body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #aec7dc;
    text-align: center;
    margin: 0;
    padding: 0;
}

#charts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 50px;
}

.chart {
    flex: 1;
}

.legend {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px; /* Ajoute de l'espace entre chaque élément */
}

.legend-item span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px; /* Sépare l'icône de couleur et le texte */
}

.legend-item span:last-child {
    white-space: nowrap; /* Empêche les retours à la ligne */
}

h3 {
    text-align: center;
}

header {
    background-color:  #57a4c5d0; /* Bleu */
    color: white;
    padding: 15px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    transition: all 0.3s ease;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
}

section h2 {
    background-color: #57a4c5d0; /* Bleu */
    color: white;
    padding: 10px;
    margin: -20px -20px 20px -20px;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

section .content {
    display: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    section h2 {
        font-size: 18px;
    }
}

table {
    border: 3px solid #6495ed;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

th, td {
    border: 1px solid #6495ed;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0d84ce;
}

input, button, select {
    margin: 10px;
}

.filter-container {
    text-align: center;
    margin: 20px;
}
